<div class="row">
    <div class="col-md-6">
       <div class="page-header">
         <h2>Listing Users</h2>
       </div>
       <table class="table table-bordered"  id="ListUser" >
         <thead>
         	<tr>
              <th>FULL NAME</th>
              <th>Email </th>
              <th>PHONE NUMBER</th>
              <th>Role</th>
             
               <th>ACTION</th>
            </tr>
         </thead>
          <tbody>
          
         
             <% @users.each do |user| %>
             <tr>
                <td><%= user.full_name %></td>
        				<td><%= user.email %></td>
        				<td><%= user.phone %></td>
        				<td><%= user.role.name %></td>
        				
        				<td><%= link_to "show", user %></td>
        				<%end%>
            
             </tr>
          </tbody>
       	
       </table>

    </div>

    <div class="col-md-6">
       <div class="page-header">
       <h2>New USer</h2>
       </div>
      <% if can? :create, @user%>
      <div id="errorMsg" ></div>
    	<%= render "form" %>
    	<%end%>
    </div>

</div>
<script type="text/javascript">
  $(document).ready(function(){
      $('#ListUser').DataTable();
  });
</script>


