<div class="row" >
  <div class="col-md-8">
      <div class="page-header">
        <h2>Listing Customers</h2>
     </div>
    <table class="table table-bordered" id="ListCustomers">
	 
	<thead>
		<tr>
	      <th>Full Name </th>
	      <th>Email </th>
	      <th>Phone </th>
	      <th>Location</th>
	      
	      <th>Managed_by</th>
	     
		</tr>
	</thead>
	<tbody>
	<% @customers.each do |customer| %>
	<tr>
	<td><%= customer.full_name %></td>
	<td><%= customer.email %></td>
	<td><%= customer.phone %></td>
	<td><%= customer.location %></td>
	
	<td><%= customer.user.full_name %></td>
	
	</tr>
	<%end%>
	</tbody>
	</table>
	
 </div>

  <div class="col-md-4">
     <div class="page-header">
      <h2> Trand </h2>
     </div>
    
   
  </div>



</div>
<script type="text/javascript">
	$(document).ready(function(){
      $('#ListCustomers').DataTable();
	});
</script>



