<tr>
	<td><%= @prospect.full_name %></td>
	<td><%= @prospect.email %></td>
	<td><%= @prospect.phone %></td>
	<td><%= @prospect.location %></td>
	<td><%= @prospect.stage.name %></td>
	<td><%= @prospect.user.full_name %></td>
	<td><%= link_to 'show', @prospect %></td>
	
	</tr>